  <div class="wrap-calendar">
    <%= simple_form_for :agenda, html: { class: "form-inline" }, method: "get" do |f| %>
      <%= f.input :date, as: :string, label: false, required: false,
      placeholder: "Data desejada", input_html: {class: "form-control datepicker"} %>
      <%= f.button :submit, "Selecionar", class: "btn btn-default" %>
    <% end %>

    <div class="container-titles">
      <%  date = params[:agenda].nil? || params[:agenda][:date].empty? ?
        Date.today : Date.parse(params[:agenda][:date]) %>
      <% date_ini = (date - 2) >= Date.today ? (date - 2) : Date.today %>
      <br>


      <% (0..4).each do |col| %>
        <div class="item item-week">
          <%= (date_ini + col).strftime("%^a") %> <br>
        </div>
      <% end %>

      <% (0..4).each do |col| %>
        <div class="item item-day">
          <%= (date_ini + col).strftime("%d %^b") %>
        </div>
      <% end %>
    </div>


    <div class="container-calendar">
      <% (0..4).each do |col| %>
        <% week = (date_ini + col).strftime("%a").downcase %>
        <% avaiable = @therapist.calendar[week].split(",") %>

        <div class="item item-hour item-link">
          <% avaiable.each do |hour| %>


              <% if @therapist.appointments.all? { |a| a.session_date.to_datetime != "#{date_ini + col} #{hour}:00:00".to_datetime } %>
                <div class="item item-link item-hour">

                  <%= link_to "#{hour.to_s}:00", '#', data: { datetime: "#{date_ini + col} #{hour}:00:00"}, class: "appointment-time" %>

                </div>
              <% end %>
          <% end %>

        </div>
      <% end %>
    </div>

    <div class="blank-space">
    </div>

    <div class="">
     <%= simple_form_for [@therapist, @appointment] do |f| %>

       <%= f.input :category_selected, prompt: "Selecione a terapia desejada", label: false, collection: @therapist.services.map{ |serv| serv.category.name }.sort, include_blank: false, input_html: { class: "btn dropdown-toggle"} %>

       <%= f.input :session_date, as: :hidden %>

      <div class="item-day text-center">
        <%= f.button :submit, "Agendar", class: "btn item-day btn-block" %>
      </div>



     <% end %>
    </div>

  </div>

