<%= simple_form_for [@therapist] do |f| %>
  <div class="form-inputs">
    <%= f.input :address, label: "Endereço", required: true %>

    <%= f.input :phone, label: "Telefone para contato", required: true %>

    <%= f.input :self_description, label: "Breve descrição sobre você", required: true %>

    <%= f.input :session_price, label: "Preço por sessão", required: true %>

    <%= f.label "Terapias oferecidas" %>  <br>
    <%= f.collection_check_boxes(:category_ids, Category.all.sort_by{|cat| cat.name.length}, :id, :name, required: true) do |b| %>

      <%= b.label style:"margin-right:10px" do %>
        <%= b.check_box + " " + b.text%>
      <% end %>
    <% end %>
      <br><br>

    <%= f.input :photos, label: "Foto do seu espaço" %>

    <%= f.input :photos_cache, as: :hidden %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar", class: "btn btn-success btn-block" %>
  </div>
<% end %>
