<div>

<div class="search-header">
  <div class="form-container">
      <%= form_tag therapists_path, method: :get, class: "form-inline" do %>
         <p><%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "digite aqui o seu endereço..."
        %>
      <%= submit_tag 'Buscar no mapa', class: "btn btn-default"%></p>
      <% end %>
  </div>
</div>

  <div>
    <% @therapists.each do |therapist| %>
      <div class="map_left_cards">
        <div class="therapist-img">
          <%= render partial: 'shared/cardslist', locals: { therapist: therapist } %>
        </div>
        <div class="card-list">
          <h4> <strong> <%= therapist.name %> </strong> </h4>
          <h5>Preço da sessão: R$<%= therapist.session_price %>,00</h5>
          <p class="therapist-rating">Nota dos clientes: <%= therapist.rating %></p>
          <%= link_to "Ver detalhes", therapist_path(therapist), class: "btn btn-md btn-default" %>
        </div>
      </div>
    <% end %>
  </div>

<!--   <div id="map" data-markers="<%= @markers.to_json %>"></div>
 -->
</div>

