<div>

  <div class="search-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12" style="text-align: center;" >
          <div>
            <%= form_tag therapists_path, method: :get, class: "form-inline" do %>
               <p><%= text_field_tag :query,
                params[:query],
                id: "therapist_address",
                class: "form-control",
                placeholder: "digite aqui o seu endereço..."
              %>
            <%= submit_tag 'Buscar no mapa', class: "btn btn-md btn-success" %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-container">
      <div class="container-list">
        <div class="therapists">
          <!-- <div class="col-xs-12"> -->
            <% @therapists.each do |therapist| %>
              <div class="therapist-list">
                <div class="card-info-list">
                  <div class="therapist-pic">
                    <%= cl_image_tag therapist.user.avatar, radius: :max, height: 80, width: 80, crop: :thumb, gravity: :face %>
                  </div>

                  <p class="price-info">R$<%= therapist.session_price %> / hora</p>

                  <i class="fas fa-star" style= "color:#F4D144"></i>

                </div>
                <div class="card-info-list2">
                  <h5> <strong> <%= therapist.user.first.capitalize %> <%= therapist.user.last.capitalize %> </strong> </h5>
                  <h6 class="card-title">
                    Serviços
                  </h6>
                    <ul class="list-inline" style="display: inline-block">
                    <% therapist.services.each do |service| %>
                      <li>- <%= service.category.name %></li>
                    <% end %>
                    </ul>
                </div>
                <div class="card-info-list">
                  <%= link_to "Agendar", therapist_path(therapist), class: "btn btn-xs btn-success" %>
                </div>
              </div>
            <% end %>
          <!-- </div> -->
        </div>
      </div>
    <div id="map" data-markers="<%= @markers.to_json %>"></div>
  </div>

</div>


