<div class="search-header">
  <div class="form-container">
      <%= form_tag therapists_path, method: :get, class: "form-inline" do %>
         <p><%= text_field_tag :query,
          params[:query],
          id: "therapist_address",
          class: "form-control",
          placeholder: "digite aqui o seu endereço..."
        %>
      <%= submit_tag 'Buscar no mapa', class: "btn btn-info"%></p>
      <% end %>
  </div>
</div>


<div class="main-container">
  <div calss="card-therapist">
  <% @therapists.each do |therapist| %>
    <div class="therapist-list">
      <div class="card-info-list">
        <%= cl_image_tag therapist.user.avatar, height: 80, width: 80, radius: :max, crop: :thumb, gravity: :face %>
        <h5>Sessão:</h5>
        <h5><strong> R$<%= therapist.session_price %>,00</strong></h5>
        <i class="fas fa-star" style= "color:#F4D144"></i>
      </div>
      <div class="card-info-list">
        <h4> <strong> <%= therapist.user.first %> <%= therapist.user.last %> </strong> </h4>
          <% therapist.services.each do |service| %>
          <h5>Serviços:<%= service.category.name %></h5>
        <% end %>
      </div>
      <div class="card-info-list">
        <%= link_to "Agendar", therapist_path(therapist), class: "btn btn-md btn-success" %>
      </div>
    </div>
  <% end %>
  </div>

  <div id="map" data-markers="<%= @markers.to_json %>"></div>

</div>



