<div class="search-header">
  <div class="form-container">
      <%= form_tag therapists_path, method: :get, class: "form-inline" do %>
         <p><%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "digite aqui o seu endereço..."
        %>
      <%= submit_tag 'Buscar no mapa', class: "btn btn-info"%></p>
      <% end %>
  </div>
</div>


<div class="main-container">
  <div>
  <% @therapists.each do |therapist| %>
    <div class="therapist-list">
      <%= cl_image_tag therapist.photos, height: 80, width: 80, radius: :max, crop: :thumb, gravity: :face %>
      <h4> <strong> <%= therapist.user.first %> </strong> </h4>
      <h5>Preço da sessão: R$<%= therapist.session_price %>,00</h5>
      <%= link_to "Agendar", therapist_path(therapist), class: "btn btn-md btn-success" %>
    </div>
  <% end %>
  </div>

  <div id="map" data-markers="<%= @markers.to_json %>"></div>

</div>



