<div class="container text-justify">

  <h2>Terapeuta, cadastre o seu perfil</h2>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <%= simple_form_for(@therapist) do |f| %>
        <div class="form-inputs">

          <%= f.input :self_description, label: "Descreva os seus serviços", required: true %>

          <%= f.input :address, label: "Endereço", required: true %>

          <%= f.association :categories, label: "Serviços Ofereço ", required: true, as: :check_boxes %>

          <%= f.input :session_price, label: "Preço por sessão", required: true %>

          <%= f.input :phone, label: "Telefone para contato", required: true %>

          <%= f.input :photos %>

          <%= f.input :photos_cache, as: :hidden %>

        </div>

        <div class="form-actions">
          <%= f.button :submit, "Cadastrar", class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
