<div class="lisa-container-name">
  <div class="lisa-row">
   <div class="col-12">
     <h1 class="lisa-name"> <%= @therapist.user.first.capitalize %> <%= @therapist.user.last %> </h1>
   </div>
  </div>
</div>
<div class="container therapist-profile-container">
  <div class="lisa-row">
    <div class="col-xs-12 col-md-3 offset-1">
      <div class="lisa-item-card">
        <div class='img lisa-avatar-radius'>
          <%= cl_image_tag @therapist.user.avatar, height: 200, width: 200, crop: :thumb, gravity: :face %>
        </div>
          <div class="lisa-div-stars">
            <% @avg_rating.times do %>
            <i class="fas fa-star" style= "color:#F4D144"></i>
             <% end %>
              <p class= "lisa-price-description">Preço do tratamento R$: <%= @therapist.session_price %></p>
          </div>
      </div>
    </div>
  <div class="col-xs-12 col-md-4 ">
      <div class="lisa-card-description">
         <h2 class= "lisa"> <strong>Sobre Mim</strong> </h2>
         <p class="lisa-self_description"> <%= @therapist.self_description %> </p>
      </div>
    <div class="item-heading">
      <h2 class= "lisa"> <strong>Terapias oferecidas</strong> </h2>
        <% @therapist.services.each do |service| %>
          <div class="category-item">
            <%= link_to categories_path do %>
            <%= service.category.name  %></h2>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
   <div class="col-xs-12 col-md-4 ">
     <div class="lisa-item-card">
       <div class="lisa-calendar-content">
         <%= render 'calendar' %>
        </div>
      </div>
   </div>

 </div>
</div>

<div class="lisa-container-photos">
  <div class="item-photos text-center">
    <% if @therapist.photos %>
    <%= cl_image_tag @therapist.photos, width: 1000  %>
    <% end %>
  </div>
</div>





