<div class="<%= params[:controller] == 'pages' ? 'navbar-home' : 'navbar-wagon'  %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <%= link_to raw("<i class='fas fa-search'></i><br> Encontre agora"), therapists_path, class: "navbar-wagon-item navbar-wagon-link text-center" %>

    <%= link_to raw("<i class='fas fa-book'></i><br> Conheça Mais"), categories_path, class: "navbar-wagon-item navbar-wagon-link text-center" %>


    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <% if current_user.therapist.nil? %>

        <%= link_to raw("<i class='fa fa-hand-paper'></i><br> Sou Terapeuta"), pages_path, class: "navbar-wagon-item navbar-wagon-link text-center" %>

        <%= link_to raw("<i class='far fa-calendar-alt'></i><br> Agendamentos"), appointments_path, class: "navbar-wagon-item navbar-wagon-link text-center" %>

      <% else %>

        <%= link_to raw("<i class='far fa-calendar-alt'></i><br> Agendamentos"),therapist_my_appointments_path, class: "navbar-wagon-item navbar-wagon-link text-center" %>

      <% end %>


      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">

          <%= cl_image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown", height: 40, width: 40, radius: :max, crop: :thumb, gravity: :face %>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "Olá, #{current_user.first.capitalize}", "#" %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fas fa-user"></i> <%= "Meu usuário" %>
              <% end %>
            </li>

            <% unless current_user.therapist.nil? %>
              <li>
                <%= link_to edit_therapist_path(current_user.therapist) do %>
                  <i class="fa fa-hand-paper"></i>  <%= t(".settings", default: "Dados Cadastrais") %>
                <% end %>
              </li>
              <li>
                <%= link_to therapist_path(current_user.therapist) do %>
                    <i class="fas fa-user-circle"></i>  <%= t(".settings", default: "Minha página") %>
                <% end %>
              </li>
              <li>
                <%= link_to raw("<i class='far fa-calendar-alt'></i> Agendei para mim"), appointments_path, class: "navbar-wagon-item navbar-wagon-link text-center" %>
              </li>
              <li>
                <%= link_to raw("<i class='fas fa-cog'></i> Configurar agenda"), edit_therapist_calendar_path(current_user.therapist, current_user.therapist.calendar), class: "navbar-wagon-item navbar-wagon-link text-center" %>
              </li>
            <% end %>

              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Sair") %>
                <% end %>
              </li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to raw("<i class='fa fa-hand-paper'></i><br> Sou Terapeuta"), pages_path, class: "navbar-wagon-item navbar-wagon-link text-center" %>
      <!-- Login link (when logged out) -->
      <%= link_to raw("<i class='fas fa-sign-in-alt'></i><br> Entrar"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link text-center" %>
    <% end %>
  </div>

</div>

