<h1></h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h1></h1><br>

        <div class="panel panel-success">
          <div class="panel-heading">
            <h4>Agendamentos Realizados</h4>
          </div>

          <table class="table" style="width:100%">
            <tr>
              <th>Data</th>
              <th>Hora</th>
              <th>Terapeuta</th>
              <th>Terapia</th>
              <th>Endereço</th>
              <!-- <th>Telefone</th> -->
              <th>Preço</th>
              <th>Rating</th>
              <th>Status</th>
              <th></th>
              <th></th>
            </tr>

            <% @appointments.each do |appointment| %>
              <tr>
                <td><%= appointment.session_date.strftime("%d/%m/%y") %></td>
                <td><%= appointment.session_date.strftime("%R") %></td>
                <td class = "terapia"><%= appointment.therapist.user.first.capitalize + " " + appointment.therapist.user.last.capitalize%></td>
                <td class = "terapia"><%= appointment.category_selected.capitalize if appointment.category_selected %></td>
                <td class = "maximum"><%= appointment.therapist.address %></td>
                <!-- <td><%= appointment.therapist.phone %></td> -->
                <td>R$ <%= appointment.therapist.session_price %>,00</td>

                <!-- <td><%= appointment.rating %></td> -->
                <td>
                <% if appointment.rating %>
                    <% appointment.rating.times do %>
                     <i class="fas fa-star" style= "color:#F4D144"></i>
                    <% end %>

                <% else %>
                      <%= simple_form_for appointment, html: { class: "form-inline" }, method: "patch" do |f| %>
                        <%= f.input :rating, placeholder: "Nota de 1 a 5", label: false %>
                        <%= f.button :submit, "" do %>
                          <i class='fas fa-star'></i>
                           %>
                           <% end %>
                      <% end %>


                <% end %>
                </td>
                <td><%= appointment.status %></td>



                <td class="btn btn-xs">
                  <% if appointment.status == "Agendado" %>
                    <%= link_to appointment_path(appointment), data: { confirm: "Tem certeza que quer cancelar seu agendamento?" }, method: :delete do |l| %>
                      <i class="fas fa-trash-alt"></i>

                    <% end %>
                  <% end %>
                </td>

              </tr>
            <% end %>
          </table>
        </div>

    </div>
  </div>
</div>
                <!-- <td class="btn btn-xs"><i class="fas fa-star" style= "color:#F4D144"></i> -->
<!--
                  <%#= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza que quer cancelar sua conta?" }, method: :delete %></p>
 -->
